/_Debug x86
/_Debug x64
/_Release x86
/_Release x64
/ipch
/UnitTest++/obj/
/*/Debug
/*/Release
*/x64/Debug
*/x64/Release
*.sdf
*.opensdf
*.suo
*.db
*.opendb

/x64
/DirectXTK/Bin
/DirectXTK/MakeSpriteFont/bin
/DirectXTK/MakeSpriteFont/obj